@font-face {
    font-family: "Blern";
    src: url(assets/font/fonts/blern regular.otf) format("opentype");
}
@font-face {
    font-family:"Youngserif";
    src: url(assets/font/fonts/youngserif-regular.ttf)
    format(truetype);
}

hr{
    z-index: 2;
    padding: 0;
    margin: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/**** Menu Styling ****/
.menu{
    position: fixed;
    background-color: #2d2e2e;
    height: 0px;
    width: 0px;
    z-index: 998;
    right: 1%;
    top: 2%;
}
/* Animaiton for menu box, class toggled in js*/
.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}
.transform-active {
    background-color: #dedede;
    height: 500px;
    width: 600px;
}

/*** HomeScreen Styling ***/
.bannerBackground{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.fullscreen, .content-a {
    width:100%;
    height:100vh;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}
/* Banner content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
/* Text and icon styling for down hint*/
#navDown{
    position: absolute;
    bottom: 0;
    left: 50%;
}
#scrollDownText {
    margin-left: -50px;
    font-family: Blern, Verdana, sans-serif;
    font-size: 20px;
    color: #FFF;
}
.arrowDown {
    margin-top: -10px;
    margin-left:-40px;
    width: 80px;
}

/***** Content Screen 1 styling *****/
#contentOne{
    height:100vh; 
    background-color:#9ac8cc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#contentImageContainer{
    height: 50vh;
    width:100%;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
#contentOneImages{
    display: block;
}
.contentOneImage{
    display: inline-block;
    -webkit-transition: all 100ms ease-in-out; 
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.contentOneImage:hover{
    -webkit-transform: scale(1.1);
}

.presentation{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    color: #ffffff;
    height: 25vh;
    text-align: center;
}

.absolute-center {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.bigPresentationText{
    font-size: 30px;
}

.smallPresentationText{
    font-size: 22px;
}


/**** Content Screen 2 styling *****/
#contentTwoFirst{
    height:50vh; 
    background-color:#9ac8cc;
}

.contenTwoHeading{
    padding-top: 20vh;
    margin: auto;
    width: 70%;
    font-family:Youngserif, sans-serif;
    color: #f4f4f4;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
}
.animSpan{
    width: 100%;
    display: block;
}

.infoBtn{
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 7vh auto;
	max-width: 140px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 20px;
    color: rgba(255, 85, 85, 0.69);
	box-shadow: rgba(255, 85, 85, 0.69) 0 0px 0px 2px inset;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 20px;
}

.infoBtn:hover {
	color: rgba(232, 232, 232, 0.88);
	box-shadow: rgba(255, 85, 85, 0.4) 0 80px 0px 2px inset;
    cursor: pointer;
}

.two{
    max-width: 60px;
    border-radius: 100%;
}

#contentTwoLast{
    height:50vh; 
    background-color:#9ac8cc;
}

.infoIcon{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    -moz- transition:         transform .7s ease-in-out;
    transition:         transform .7s ease-in-out;
}

.infoIcon:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

.techInfo{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.techInfo h3{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.techInfo p{
    font-size: 1em;
    line-height: 1.2em;
    text-align: 
}

#contentTwoLast{
    position: relative;
    
}

#profil{
    width: 170px;
    position: absolute;
    bottom: 33%;
    left: 10%;
    border-radius: 100%;
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


#contact{
    height: 50vh;
    background-color: #7b4a4a;
    padding-top: 10vh;
}

#contact h3{
    color: #FFF;
    font-family: 'Blern', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.contactButton{
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.69) 0 0px 0px 2px inset;
}

.contactButton:hover{
    color: rgba(255, 255, 255, 0.88);
	box-shadow: rgba(242, 242, 242, 0.6) 0 80px 0px 2px inset;
}

#mapContainer{
    height: 50vh;
    background-color: #ebebeb;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}