@media(max-width: 1274px){
    #ipad{
        display: none;
    }
    #profil{
        width: 140px;
    }
}
@media(max-width: 1062px){
    #kamera{
        display: none;
    }
    .contenTwoHeading{
        padding-top: 10vh;
    }
    .col-sm-4{
        margin-top: -20px;
    }
    #contentTwoFirst{
        height: 50vh;
    }
}

@media(max-width: 768px){
    .infoIcon{
        margin-top: 70px;
    }
    .navbar-minimal:toggle {
    background-color: black;
    }
    .two{
        margin-top: 50px;
    }
}

@media(max-width: 751px){
    #laptop img{
        width: 400px;
    }
    #wacom img{
        width:  200px;
    }
}

@media(max-width: 660px){
    .content-b img{
        width: 80%;
    }
    #laptop img{
        width: 100%;;
    }
    #wacom img{
        display: none;
    }
    .contenTwoHeading{
        padding-top: 5vh;
    }
}

@media(max-width: 450px){
    .contenTwoHeading{
        padding-top: 10vh;
    }
    #contentTwoFirst{
        height: 80vh;
    }
    #contentTwoLast{
        height: 80vh;
    }
    #contact h3{
        font-size: 1.5em;
    }
}
@media(max-width: 410px){
    .navbar-minimal.open {
        width: 375px;
    }
    #contentTwoFirst{
        height: 95vh;
    }
    #contentTwoLast{
        height: 95vh;
    }
}
@media(max-width: 325px){
    .navbar-minimal.open {
        width: 320px;
    }
    #contentTwoFirst{
        height: 100vh;
    }
    #contentTwoLast{
        height: 100vh;
    }
    #contact h3{
        font-size: 1.2em;
    }
}